@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
}
@media (max-width: 767px) {
    .logo-redes-sociais {
        display: none;
    }
}

@media (max-width: 536px) {
    #teste {
        padding: 0px;
    }
    .link-redes {
        margin-right: 7px;
    }
}

@media (min-width: 768px) {
    .burguer {
        display: none;
    }

}

menu {
   background-image: linear-gradient(to left, red, orange); 
}

.link-logo-menu {
    padding: 15px;
}

.logo-menu {
    width: 90%;
}

.burguer {
    width: 40px;
}

.link-redes {
    text-align: right;
    padding-right: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

.link-logo-redes-sociais {
    padding: 2px;
}

.logo-redes-sociais {
    width: 30px;
}